@theme static {
    --color-select-text: var(--color-text);
    --color-select-icon: var(--color-placeholder);
    --color-select-placeholder: var(--color-placeholder);
    --color-select-border: var(--color-border);
    --color-select-background: var(--color-background);
    --color-select-focus-border: var(--color-focus);
    --color-select-focus-ring: var(--color-focus-ring);
    --color-select-readonly-background: var(--color-background-readonly);
    --color-select-disabled-background: var(--color-background-disabled);
    --color-select-disabled-text: var(--color-text-disabled);
    --color-select-invalid-border: var(--color-invalid);
    --color-select-invalid-ring: var(--color-invalid-ring);
    --color-select-option-background: var(--color-white);
}

@layer theme {
    .dark, [data-theme="dark"] {
        --color-select-text: var(--color-text);
        --color-select-icon: var(--color-placeholder);
        --color-select-placeholder: var(--color-placeholder);
        --color-select-border: var(--color-border);
        --color-select-background: var(--color-background);
        --color-select-focus-border: var(--color-focus);
        --color-select-focus-ring: var(--color-focus-ring);
        --color-select-readonly-background: var(--color-background-readonly);
        --color-select-disabled-background: var(--color-background-disabled);
        --color-select-disabled-text: var(--color-text-disabled);
        --color-select-invalid-border: var(--color-invalid);
        --color-select-invalid-ring: var(--color-invalid-ring);
        --color-select-option-background: var(--color-neutral-900);
    }
}

@layer components {
    .os-select {
        @apply cursor-pointer;
        --os-field-text: var(--color-select-text);
        --os-field-border: var(--color-select-border);
        --os-field-background: var(--color-select-background);
        --os-field-placeholder: var(--color-select-placeholder);
        --os-field-focus-border: var(--color-select-focus-border);
        --os-field-focus-ring: var(--color-select-focus-ring);
        --os-field-readonly-background: var(--color-select-readonly-background);
        --os-field-disabled-background: var(--color-select-disabled-background);
        --os-field-disabled-text: var(--color-select-disabled-text);
        --os-field-invalid-border: var(--color-select-invalid-border);
        --os-field-invalid-ring: var(--color-select-invalid-ring);
    }
}
