.p-tabview {

  .p-tabview-nav {
    li {
      position: relative;
    }

    .is-valid:before,
    .is-invalid:before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: map-get($theme-colors, 'danger');
      z-index: 1;
      right: -6px;
      top: 2px;
      animation: heartBeat .5s infinite;
    }

    .is-valid:before {
      background: map-get($theme-colors, 'success');
    }
  }
}