name: Generate Release

on:
  push:
    tags: [ '*.*.*' ]
    branches: [ master ]

jobs:
  generate-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read

    # Verifica se está na branch master
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')

    steps:
      # Fazendo Checkout do código
      - name: Checkout
        uses: actions/checkout@v4

      # Realiza a criação do release
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: "${{ github.ref_name }}"
          generate_release_notes: true
          draft: false
          prerelease: false
